.flex{
  margin-left: 37%;
  margin-top: 0px;
  width:24%;
  display: inline-flex;
}

.cakes{
  color: #f2f2f2;
  background-color:#be5f27;
  font-weight: 200;
  padding: .25em;
  margin: 0px
}

.other{
  color:#be5f27;
  background-color:#f2f2f2;
  font-weight: 200;
  padding:.25em;
  margin:0px;
}
.show-cakes{

}
.show-other{
  display:none;
}
